body{
    background: rgba(212, 211, 211, 0.863);
}

#headImage{
    border-radius: 20%;
}

#siteHead{
    font-family: Verdana, Arial;
    color: blue;
    text-align: center;
}

.subtitle{
    font-family: Verdana, Arial;
    color: blue;
    text-align: center;
}

.articleTitle{
    color: blue;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.article{
    background: white;
    padding: 10px 5px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px 5px;
    
}

.articleImage{
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
}

.articleContent{
    margin: 0;
    margin-bottom: 10px;
}

.siteList{
    list-style-type: none;
    padding-left: 10px;
}

a{
    text-decoration: none;
    color: blue;
}